<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="home.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1>Vocab Escape</h1>
	        <ul class="list-unstyled components mb-5">
			  <li>
				<a href="/home">Home</a>
			  </li>
	          <li>
	            <a href="/create">Create</a>
	          </li>
	          <li>
              	<a href="/test">Test</a>
	          </li>
			  <li>
				<a href="/toeic">TOEIC Vocab</a>
			  </li>
			  <li>
				<a href="/logout">Log Out</a>
			  </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
		  <div class="welcome">Welcome to Vocab Escape!</div>
		   <a href="/vocab"><div class="vocablist"><p class="title">Title: title</p></div></a>
		   <a href="/vocab"><div class="vocablist"><p class="title">Title: title</p></div></a>
		   <a href="/vocab"><div class="vocablist"><p class="title">Title: title</p></div></a>
		   <br>  
		   <a href="#" class="previous round">&#8249;</a>
		   <a href="#" class="next round">&#8250;</a>
      </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>