<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="home.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1>Vocab Escape</h1>
	        <ul class="list-unstyled components mb-5">
			  <li>
				<a href="/home">Home</a>
			  </li>
	          <li>
	            <a href="/create">Create</a>
	          </li>
	          <li>
              	<a href="/test">Test</a>
	          </li>
			  <li>
				<a href="/toeic">TOEIC Vocab</a>
			  </li>
			  <li>
				<a href="/logout">Log Out</a>
			  </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5 questionbox">
            <h3 class="qnum">Question <span id="number">1</span></h3>
            <h3 id="vocab" class="word">問題</h3>
            <button class="option">1</button>
            <br>
            <button class="option">2</button>
            <br>
            <button class="option">3</button>
            <br>
            <button class="option">4</button>
    </div>
</div>
<script>

    const quiz = [
        {
            question: "assuage",
            answers: ["遊ぶ","静める","触る","寝る"],
            correct: "静める"
        },{
            question:"Obtain",
            answers: ["叫ぶ","伝える","笑う","得る"],
            correct: "得る"
        },{
            question:"timber",
            answers: ["炎","涙","木材","影"],
            correct: "木材"
        },{
            question:"anguish",
            answers: ["起業家","苦痛","くるぶし","氷山"],
            correct: "苦痛"
        },{
            question:"substitute",
            answers: ["代替する","追放する","達する","震える"],
            correct: "代替する"
        },{
            question:"refrain",
            answers: ["慎む","叫ぶ","拡張する","求める"],
            correct: "慎む"
        },{
            question:"revolve",
            answers: ["探す","狙う","睨む","回転する"],
            correct: "回転する"
        },{
            question:"entail",
            answers: ["遅れる","伴う","飾る","誘う"],
            correct: "遅れる"
        },{
            question:"fastidious",
            answers: ["口うるさい","首尾一貫な","甘い","幻想の"],
            correct: "口うるさい"
        },{
            question:"gist",
            answers: ["否定","束","花火","要点"],
            correct: "要点"
        }];

    



    const number = 0;
    const correct = "寝る";
    const $button = document.getElementsByClassName("option");
    var buttonindex = 0;
    const buttonlength = $button.length;
    const quizlength = quiz.length;
    var quizindex = 0;
    
    //セットアップ
    function setup(){
        document.getElementById("vocab").innerHTML = quiz[quizindex].question;
        document.getElementById("number").innerHTML = quizindex+1;
     
  
    for(var i=buttonindex; i<buttonlength;i++){
        $button[i].innerHTML = quiz[quizindex].answers[i];
    }
    }

    setup();


    function clickhandler(e){
        if(quiz[quizindex].correct===e.target.innerHTML){
            alert("Correct!");
            quizindex++;

            if(quizindex<quizlength){
                //next 
                setup();
            }else{
                //finish                
                window.location.href = "/finish";
        }
        }else{
            alert("Oops! Try Again!");
        }
        
        

    }

    for(var i=0;i<$button.length;i++){
        $button[i].addEventListener("click", function(e){
        clickhandler(e);
    })
    }
</script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>