<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="home.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1>Vocab Escape</h1>
	        <ul class="list-unstyled components mb-5">
			  <li>
				<a href="/home">Home</a>
			  </li>
	          <li>
	            <a href="/create">Create</a>
	          </li>
			  <li>
				<a href="/logout">Log Out</a>
			  </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="homecontainer">
			<h1 class="toptitle">Titile</h1>
			<div class="col-md-6 card-container">
				<label class="flipCard" for="flipCard"></label>
				<input type="checkbox" id="flipCard" hidden />
				  <div class="card-flip">
					<!-- Card Front -->
					<div class="card front">
					  <div class="card-block">
						<h3 class="card-title">Term</h3>
					  </div>
					</div>
					<!-- End Card Front -->
			
					<!-- Card 2 Back -->
					<div class="card back">
					  <div class="card-block">
						<h3 class="card-title">definition</h3>				
					  </div>
					</div>
					<!-- End Card 2 Back -->
				  </div>
				</div>
				<!-- End Card 2 -->
		<div class="buttons">
			<a href="#" class="previous round">&#8249;</a>
			<a href="#" class="next round">&#8250;</a> 
			<a href="/edit"><button class="edit">Edit</button></a> 
		</div>

    </div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>