body{
    background-color:#F0F8FF;
    text-align: center;
}
.container{
    padding: 5%;
    margin: auto;

}
.questionbox{
    border-style: solid;
    border-color:#A9A9A9;
    border-width: 2px;
    width: 60%;
    margin: auto;
}
h3{
    padding: 5%;
}


button {
    margin:2%;
    width: 50%;
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 1%;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
button:hover {
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}